.form-container{
    width:60%;
    height:200px;
    margin-left:20%;
    margin-right:20%;
    margin-top:120px;
}
.submit-button{
    border: 1px solid #fff;
    background-color: #fff;
    color: #000080;
    letter-spacing: .4em;
    font-size:.8em;
    font-family: sans-serif;
    margin-top:20px;
    margin-left:40%;
    margin-right:40%
    
}

.total-style{
    text-align: center;
    font-size:1.6em;
    letter-spacing: .2em;
    color:#fff;
    font-family: sans-serif;
}
.validation{
    text-align: center;
    color:#fff;
    font-size:1em;
    font-family: sans-serif;
}