<div *ngIf="!budgetSubmit">
    <div class="form-container">
        <form>
            <app-budget (getBudget)="getBudgetValue($event)"></app-budget>
            <div class="validation">
              <p>{{InputVal}}</p>
            </div>
            
        </form>
    </div>
</div>

<div *ngIf="budgetSubmit">
    <div class="form-container">
        <form>
            <app-bill-form (submit)="submitTheBill($event)"></app-bill-form>
            <div class="validation">
                <p>{{InputVal}}</p>
            </div>  
        </form>
    </div>
    <h2 class="total-style">Total Budget Left: ${{budgetStringifyed}} Current Total: ${{total}}</h2>
    <app-bill *ngFor="let bill of bills" [bills]="bill"></app-bill>
</div>
