<div *ngIf="!budgetSubmit">
    <div class="form-container">
        <form>
            <app-budget (getBudget)="getBudgetValue($event)"></app-budget>
            <div class="validation">
              <p>{{InputVal}}</p>
            </div>
            
        </form>
    </div>
</div>

<div *ngIf="budgetSubmit">
    <div class="form-container">
        <form>
            <label class="label-style">Bill:</label>
            <input class="input-style" type="text" #billName>

            <label class="label-style">Amount of Bill:</label>
            <input class="input-style" type="text" #amountBill>
            <div class="validation">
                <p>{{InputVal}}</p>

            </div>
            <button class="submit-button" (click)="submit(billName, amountBill)">Submit Bill</button>
        </form>
    </div>
    <h2 class="total-style">Total Budget Left: ${{budgetStringifyed}} Current Total: ${{total}}</h2>
    <app-bill *ngFor="let bill of bills" [bills]="bill"></app-bill>
</div>
