.form-container{
    width:60%;
    height:200px;
    margin-left:20%;
    margin-right:20%;
    margin-top:120px;
}

.total-style{
    text-align: center;
    font-size:1.2em;
    letter-spacing: .2em;
    color:#fff;
    font-family: sans-serif;
}
.validation{
    text-align: center;
    color:#fff;
    font-size:1em;
    font-family: sans-serif;
}